<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Formatting Result CC Test Suite" verbose="1" >

<listeners>
<listener class-name ="ExtentReportListener.ListenerTest"/>

</listeners>

  <test name="FormattingResultCC" >
    <classes>
      <class name="Testcases.WebTest"/>
    
    </classes>
  </test>
</suite>
